/* @src/components/Modal.module.css */

.smbg {
  background-color: rgb(0, 0, 0);
  width: 50vw;
  height: 50vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: auto;
}

.mdbg {
  background-color: rgb(0, 0, 0);
  width: 70vw;
  height: 60vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: auto;
}

.lgbg {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: auto;
}


.centered {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-pdf__Page {
  left: 50%;
  right: 50%;
  transform: translate(-260px, 35px);
}


table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #969696;
  color: #fff;
}